#happyBar {
    flex-direction: row;
}
#statusBar {
    display: flex;
    margin-left: 1vw;
    flex-direction: row;
  }
  
  #coinCounter {
    display: flex;
    margin-right: 1vw;
    flex-direction: row;
  }
  
  .coinImg {
    width: 2vw;
    height: 3vh;
    margin-right: 0.5vw;
  }
.petBackground {
    background-image: url('./assets/bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 70vw;
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
}
.eggImg {
    position: relative;
    width: 9vw;
    height: auto;
    animation: shake 4.5s infinite;
    margin-bottom: 4vh;
}
.petArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.actionButtons{
    display: block;
    margin: 0 2vw;
    justify-content: space-around;
}
.actionButtons .graySquare {
    margin-top: 5vh;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.graySquare {
    width: 6vw; /* Adjust the size as needed */
    height: 6vw; /* Adjust the size as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency value as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid blue; /* Specify border style here */
    border-radius: 10px;
    opacity: 1; /* Fully visible */
    transform: scale(1); /* Initial scale */
}

.additionalSquares {
    position: fixed;
    flex-direction: row;
    margin-top: 40vh;
}

.blueSquare {
    width: 6vw; /* Adjust the size as needed */
    height: 6vw; /* Adjust the size as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency value as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid blue; /* Specify border style here */
    border-radius: 10px;
    opacity: 1; /* Fully visible */
    transform: scale(1); /* Initial scale */
    margin: auto 2vw;
}
.blueSquare img {
    max-width: 90%; /* Adjust based on your needs */
    max-height: 90%; /* Adjust based on your needs */
    object-fit: contain; /* This ensures the image scales properly within the square */
}

.hidden {
    opacity: 0; /* Fully transparent */
    pointer-events: none; /* Prevent interaction while hidden */
    transform: scale(0); /* Scale down */
}

.graySquare img {
    max-width: 90%; /* Adjust based on your needs */
    max-height: 90%; /* Adjust based on your needs */
    object-fit: contain; /* This ensures the image scales properly within the square */
}

/* Media Queries */
@media (max-width: 768px) {
    .petBackground {
        width: 100%;
        height: auto;
    }
    .eggImg {
        width: 20vw;
    }
}